obj
bin
appsettings.json
*.db
package-lock.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/E-Shop/config/applicationhost.config
.vs/E-Shop/DesignTimeBuild/.dtbcache.v2
.vs/E-Shop/FileContentIndex/54c59948-e825-464b-aea6-3942863a0520.vsidx
.vs/E-Shop/FileContentIndex/0161e5d4-7996-4419-bde3-2f6f35ebe9f6.vsidx
.vs/E-Shop/FileContentIndex/9009a77e-9ab7-4acb-814a-0cf3d5580215.vsidx
.vs/E-Shop/FileContentIndex/bd0f32b7-39df-41d1-be95-9c2733652b7a.vsidx
.vs/E-Shop/FileContentIndex/read.lock
.vs/E-Shop/v17/.futdcache.v2
.vs/E-Shop/v17/.suo
.vs/E-Shop/v17/.wsuo
.vs/ProjectEvaluation/e-shop.metadata.v6.1
.vs/ProjectEvaluation/e-shop.projects.v6.1
Core/bin/Debug/net7.0/Core.dll
Core/bin/Debug/net7.0/Core.pdb
Core/obj/Core.csproj.nuget.dgspec.json
Core/obj/project.assets.json
Core/obj/project.nuget.cache
Core/obj/Debug/net7.0/Core.csproj.AssemblyReference.cache
Core/obj/Debug/net7.0/Core.csproj.CoreCompileInputs.cache
Core/obj/Debug/net7.0/Core.dll
Core/obj/Debug/net7.0/Core.pdb
Core/obj/Debug/net7.0/ref/Core.dll
Core/obj/Debug/net7.0/refint/Core.dll
Infrastructure/bin/Debug/net7.0/Core.dll
Infrastructure/bin/Debug/net7.0/Core.pdb
Infrastructure/bin/Debug/net7.0/Infrastructure.dll
Infrastructure/bin/Debug/net7.0/Infrastructure.pdb
Infrastructure/Data/Migrations/20230308045537_InitialCreate.cs
Infrastructure/Data/Migrations/20230308045537_InitialCreate.Designer.cs
Infrastructure/Data/Migrations/20230309233517_InitialCreate.cs
Infrastructure/Data/Migrations/20230309233517_InitialCreate.Designer.cs
Infrastructure/Data/Migrations/StoreContextModelSnapshot.cs
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.CoreCompileInputs.cache
Infrastructure/obj/Debug/net7.0/Infrastructure.dll
Infrastructure/obj/Debug/net7.0/Infrastructure.pdb
Infrastructure/obj/Debug/net7.0/ref/Infrastructure.dll
Infrastructure/obj/Debug/net7.0/refint/Infrastructure.dll
